@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800|Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800|Yeseva+One&display=swap");


body {
  /* font-family: "Yeseva One", cursive; */
  font-weight: normal;
  font-style: normal;
}

.border-primary, .btn-outline-primary {
  border: 1px solid #DF1B22 !important;
  color: #DF1B22 !important;
}

.bg-primary, .btn-primary {
  background-color: #DF1B22 !important;
  border: 0 !important;
}

.text-primary,
.link-primary {
  color: #DF1B22 !important;
}

a {
  text-decoration: none !important;
}

a,
.button,
button {
  transition: 0.3s;
}

a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  outline: medium none;
}

h1,
h2,
h3,
h4 {
  font-family: "Yeseva One", cursive !important;
  color: #191d34;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  color: #5c5c5c;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
}

.mobile-br {
  display: block;
  width: 100%;
  height: 0;
  margin-bottom: 200px;
}


@media (max-width: 1000px) {
  .mobile-br {
      margin-bottom: 100px;
  }

  .mv-img {
      width: 100% !important;
      height: 100%;
      margin-bottom: 30px;
  }
}

.section_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  .section_padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section_padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}


/* Header Start */
.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  padding: 0 100px 50px 100px;
  background-color: #df1b22;
}

@media (max-width: 767px) {
  .header-area {
    padding: 0 10px 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding: 0 10px 10px 10px;
  }
}

.header-area .main-header-area {
  background: white;
  border-radius: 20px;
  position: absolute;
  bottom: -50px;
  padding: 8px 0;
  z-index: 100 !important;
  left: 100px;
  top: 70px;
  bottom: auto;
  right: 100px;
}

@media (max-width: 767px) {
  .header-area .main-header-area {
    right: 15px;
    left: 15px;
    padding: 12px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    right: 15px;
    left: 15px;
    padding: 12px 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area {
    right: 60px;
    left: 60px;
  }
}



.header-area .main-header-area .Appointment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-area .main-header-area .Appointment .socail-links ul li {
  display: inline-block;
}

.header-area .main-header-area .Appointment .socail-links ul li a {
  color: #A8A7A0;
  margin: 0 10px;
  font-size: 15px;
}

.header-area .main-header-area .Appointment .socail-links ul li a:hover {
  color: #fff;
}

.header-area .main-header-area .main-menu {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .header-area .main-header-area .main-menu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu {
    display: none;
  }
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

.header-area .main-header-area .main-menu ul li a {
  color: black;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  text-transform: capitalize;
}



.header-area .main-header-area .main-menu ul li a:hover {
  color: #df1b22 !important;
}

.header-area .main-header-area .main-menu ul li a::before {
  content: "";
  position: absolute;
  background-color: #df1b22;
  width: 0;
  /* Start with 0 width */
  height: 2px;
  border-radius: 100px;
  top: 25px;
  left: 0;
  transition: width 0.3s ease;
  z-index: 1;
}

.header-area .main-header-area .main-menu ul li a:hover::before {
  width: 100%;
}


@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

.header-area .main-header-area .main-menu ul li a:hover {
  color: #f1f1f1;
}

.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 45px !important;
  background: #ffffffd9;
  width: 250px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.403);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  transition: 0.6s;
  border-bottom: 3px solid #DF1B22;
}

.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  transition: 0.3s;
  display: block;
  color: #0e1214;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #DF1B22 !important;
}

.header-area .main-header-area .main-menu ul li:hover>.submenu {
  opacity: 1;
  visibility: visible;
  /* top: 150%; */
}

.header-area .main-header-area .main-menu ul li:hover>a::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}

.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1) !important;
  position: fixed;
  width: 100%;
  top: -75px;
  left: 0;
  right: 0;
  z-index: 999;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  background: rgba(255, 255, 255, 0.804);
  backdrop-filter: blur(5px);
  bottom: auto;
  border-radius: 0 !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

@media (max-width: 767px) {
  .header-area .main-header-area.sticky {
    padding-top: 17px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

.header-area .header-top-area {
  padding: 23px 0;
}

@media (max-width: 767px) {
  .header-area .header-top-area {
    padding: 10px 0;
  }
}

.header-area .header-top-area .social-media-links {
  text-align: right;
}

@media (max-width: 767px) {
  .header-area .header-top-area .social-media-links {
    text-align: center;
  }
}

.header-area .header-top-area .social-media-links a {
  font-size: 15px;
  color: white;
  margin-right: 12px;
}

.header-area .header-top-area .social-media-links a:hover {
  color: #DF1B22;
}

.header-area .header-top-area .short-contact-list {
  text-align: left;
}

@media (max-width: 767px) {
  .header-area .header-top-area .short-contact-list {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .header-top-area .short-contact-list {
    text-align: center;
  }
}


nav ul {
  margin: 0 !important;
}

nav ul li a {
  text-transform: uppercase !important;
}

nav .boxed-btn {
  border-radius: 10px !important;
}
nav .boxed-btn:hover {
  background-color: white !important;
  color: #DF1B22 !important;
}

.logo {
  width: fit-content !important;
}

.logo a img {
  width: 180px;
  border-radius: 10px;
}

.header-area .header-top-area .short-contact-list ul li {
  display: inline-block;
}

.header-area .header-top-area .short-contact-list ul li a {
  font-size: 16px;
  color: white;
  margin-right: 40px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 767px) {
  .header-area .header-top-area .short-contact-list ul li a {
    margin-right: 0;
    margin: 0 5px;
  }
}

.header-area .header-top-area .short-contact-list ul li a i {
  margin-right: 10px;
  font-size: 20px;
}


.slicknav_menu .slicknav_nav {
  background: #fffffffb;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.3), 0 4px 10px rgba(0, 0, 0, 0.2);
  float: right;
  margin-top: 0;
  padding: 0;
  padding-top: 10px !important;
  width: 100%;
  color: #DF1B22;
  padding: 0;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 10px;
  border-bottom: 1px solid #DF1B22;
  z-index: 0;
}


@media (max-width: 767px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}



.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

@media (max-width: 767px) {
  .slicknav_menu {
    margin-right: 0px;
  }
}

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}


/* Header End */


/* Slider Start */

.slider {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh !important;
  overflow: hidden !important;
}

/* .slider-text {
  margin-top: 150px;
  margin-bottom: 150px;
} */

.slider-text>span {
  text-transform: capitalize;
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  display: block;
}

.slider-text h3 {
  color: #fff;
  font-family: "Yeseva One", cursive;
  font-size: 70px;
  margin-top: 6px;
  margin-bottom: 9px;
  line-height: 1.14;
}

@media (max-width: 767px) {
  .slider-text h3 {
    font-size: 33px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider-text h3 {
    font-size: 55px;
  }
}

.slider-text p {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 40px;
  margin-top: 10px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider-text p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .slider-text p {
    font-size: 16px;
  }
}

.overlay::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay2 {
  position: relative;
  z-index: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.overlay2::before {
  position: absolute;
  content: "";
  background-color: #0e1214;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}

.boxed-btn {
  color: #DF1B22;
  display: inline-block;
  padding: 13px 44px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #DF1B22;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.boxed-btn:hover {
  background: #DF1B22;
  color: #fff;
}

.boxed-btn:focus {
  outline: none;
}

.boxed-btn.large-width {
  width: 220px;
}

.boxed-btn-white {
  color: #fff;
  display: inline-block;
  padding: 17px 32px;
  font-family: "Yeseva One", cursive;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  transition: 0.5s;
  cursor: pointer;
}

.boxed-btn-white:focus {
  outline: none;
}

.boxed-btn-white.large-width {
  width: 220px;
}

.boxed-btn-white-2:focus {
  outline: none;
}

.boxed-btn-white-2.large-width {
  width: 220px;
}

.carousel-indicators .active {
  height: 3px !important;
  width: 50px !important;
}

/* Slider End */





/* Counter Start */
.counter-area .counter-bg {
  background-image: url(../img/banner/counter-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  overflow: hidden;
  padding: 40px 30px;
  background-size: cover;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .counter-area .counter-bg {
    padding: 25px;
  }
}

.counter-area .overlay::before {
  background: #DF1B22;
  opacity: 0.7;
}

.counter-area .single-counter .icon {
  margin-right: 40px;
}

.counter-area .single-counter .icon i {
  font-size: 60px;
  color: #fff;
}

.counter-area .single-counter .events h3 {
  font-size: 30px;
  margin-bottom: 0;
  color: #fff;
}

.counter-area .single-counter .events p {
  margin-bottom: 0;
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #fff;
}

/* Counter Ends */



/* SDG Activity Start */
.sdg-section-bg {
  background-image: url(../img/banner/people.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.sdg-activites-area {
  background: rgba(199, 60, 60, 0.06);
  position: relative;
}

.sdg-activites-area .sdg-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  bottom: 0;
}

@media (max-width: 767px) {
  .sdg-activites-area .sdg-bg-overlay {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sdg-activites-area .sdg-bg-overlay {
    display: none !important;
  }
}

.sdg-activites-area .sdg-bg-overlay a {
  font-size: 70px;
  color: #fff;
  position: relative;
  z-index: 12;
  width: 150px;
  height: 150px;
  background: #DF1B22;
  text-align: center;
  line-height: 150px;
  border-radius: 50%;
}

.sdg-activites-area .sdg-bg-overlay::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #DF1B22;
  opacity: .3;
  content: '';
}

.sdg-activites-area .activites-info {
  padding-right: 156px;
  padding-top: 240px;
  padding-bottom: 226px;
}

@media (max-width: 767px) {
  .sdg-activites-area .activites-info {
    padding: 50px 15px;
  }
}

.sdg-activites-area .activites-info p.para-1 {
  margin-bottom: 22px;
  margin-top: 20px;
  text-align: justify;
}

.sdg-activites-area .activites-info p.para-2 {
  margin-bottom: 30px;
  text-align: justify;
}


.section-title h3 {
  font-size: 40px;
  font-weight: 400;
  color: #191d34;
  z-index: 1;
  font-family: "Yeseva One", cursive;
  line-height: 1.3;
}

.section-title h3 span {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.section-title h3 span::before {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #DF1B22;
  height: 10px;
  width: 100%;
  content: '';
  opacity: .5;
  bottom: 7px;
  z-index: -1;
}

@media (max-width: 767px) {
  .section-title h3 {
    font-size: 25px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  .section-title h3 br {
    display: none;
  }
}

.section-title p {
  font-size: 16px;
  color: #6b6a6a;
  line-height: 30px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .section-title p br {
    display: none;
  }
}


.boxed-btn2 {
  color: #fff;
  display: inline-block;
  padding: 13px 44px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  background: #DF1B22;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  border: 1px solid transparent;
}

.boxed-btn2:hover {
  background: #fff;
  color: #DF1B22;
  border: 1px solid #DF1B22;
}

.boxed-btn2:focus {
  outline: none;
}

.boxed-btn2.large-width {
  width: 220px;
}

/* SDG Activity End */




.section-title h3 {
  font-size: 40px;
  font-weight: 400;
  color: #191d34;
  z-index: 1;
  font-family: "Yeseva One", cursive;
  line-height: 1.3;
}

.section-title h3 span {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.section-title h3 span::before {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #DF1B22;
  height: 10px;
  width: 100%;
  content: '';
  opacity: .5;
  bottom: 7px;
  z-index: -1;
}

@media (max-width: 767px) {
  .section-title h3 {
    font-size: 25px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  .section-title h3 br {
    display: none;
  }
}

.latest-news-area .single-news {
  margin-bottom: 30px;
  position: relative;
}

.news-item-date {
  position: absolute;
  bottom: 170px;
  right: 30px;
  display: block;
  background-color: #DF1B22;
  padding: 15px 20px;
  border-radius: 7px;
  z-index: 10;
}

.news-item-date p, .news-item-date h3 {
  margin: 0 !important;
  padding: 0 !important;
  color: #fff !important;
}

.latest-news-area.news-details .single-news .thumb img {
  width: 100%;
  transform: scale(1);
  transition: 0.3s;
}

.latest-news-area.news-details .single-news .news-content {
  box-shadow: none;
  padding: 100px 0 0 0;
}

@media (max-width: 767px) {
  .latest-news-area.news-details .single-news .news-content {
    padding: 50px 0 0 0;
  }
}

.latest-news-area.news-details .single-news .news-content h4 {
  font-size: 40px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .latest-news-area.news-details .single-news .news-content h4 {
    font-size: 25px;
  }
}

.latest-news-area.news-details .single-news .news-content p {
  margin-bottom: 15px;
  color: #7A7B7C;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
}

.latest-news-area.news-details .single-news:hover .thumb img {
  transform: scale(1);
}

.latest-news-area .single-news .thumb {
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  /* height: 250px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
}

@media screen and (max-width: 768px) {
  .latest-news-area .single-news .thumb {
    height: 150px;
  }
}

.latest-news-area .single-news .thumb img {
  width: 100%;
  transform: scale(1);
  transition: 0.3s;
}

.latest-news-area .single-news .news-content {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 30px;
  position: relative;
  border-radius: 0 0px 7px 7px;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .latest-news-area .single-news .news-content {
    padding: 20px;
  }
}

.latest-news-area .single-news .news-content h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.latest-news-area .single-news .news-content p {
  margin-bottom: 15px;
  color: #7A7B7C;
}

.latest-news-area .single-news:hover .thumb img {
  transform: scale(1.1);
}


.read-more {
  font-size: 16px;
  color: #BCBDBF;
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  padding-left: 68px;
}

.read-more::before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 36px;
  height: 2px;
  background: #707070;
  content: '';
  transform: translateY(-50%);
  transition: 0.3s;
}

.read-more:hover {
  color: #DF1B22;
}

.read-more:hover::before {
  background: #DF1B22;
}


/*footer*/
.col_white_amrc {
  color: #FFF;
}

footer {
  width: 100%;
  background-color: #0e1214;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

footer p a {
  color: white !important;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: white;
}

.footer_ul_amrc li a:hover {
  color: #DF1B22;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* Footer Ends */


/* About Bradcan Start */
.bradcam_overlay {
  position: relative;
  z-index: 0;
}

.breadcam_bg {
  background-image: url(../img/banner/banner3.jpg);
}

.bradcam_area {
  background-size: cover;
  background-position: center center;
  height: 400px;
  background-repeat: no-repeat;
}

.bradcam_area.overlay::before {
  background: #140e0e;
  opacity: .5;
}

.bradcam_area h3 {
  font-size: 50px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .bradcam_area h3 {
    font-size: 35px;
  }
}

.bradcam_area p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
}

.bradcam_area p a {
  color: #fff;
}

.bradcam_area p a:hover {
  color: #fff;
}

/* About Bradcan End */


/* Our Team Starts */
.our_team_area .single_volenteer {
  position: relative;
}

@media (max-width: 767px) {
  .our_team_area .single_volenteer {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .our_team_area .single_volenteer {
    margin-bottom: 30px;
  }
}

.our_team_area .single_volenteer .volenteer_thumb {
  padding-right: 70px;
  padding-bottom: 90px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.our_team_area .single_volenteer .volenteer_thumb img {
  width: 100%;
  border-radius: 10px;
}

.our_team_area .single_volenteer .voolenteer_info {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 7px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  left: 40px;
  top: 90px;
}

.our_team_area .single_volenteer .voolenteer_info .info_inner {
  padding: 20px 40px;
  position: relative;
  z-index: 1;
}

.our_team_area .single_volenteer .voolenteer_info .info_inner h4 {
  font-size: 20px;
  margin-bottom: 2px;
}

.our_team_area .single_volenteer .voolenteer_info .info_inner p {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 0;
}

.our_team_area .single_volenteer .voolenteer_info .social_links {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  z-index: 1;
}

.our_team_area .single_volenteer .voolenteer_info .social_links ul li {
  display: block;
  margin-bottom: 20px;
}

.our_team_area .single_volenteer .voolenteer_info .social_links ul li:last-child {
  margin-bottom: 0;
}

.our_team_area .single_volenteer .voolenteer_info .social_links ul li a {
  font-size: 16px;
  color: #222222;
}

/* Our Team End */

@media (min-width: 768px) {
  .news_details h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.news-info-link li {
  float: left;
  font-size: 14px;
}

.news-info-link li a {
  color: #999999;
}

.news-info-link li i,
.news-info-link li span {
  font-size: 13px;
  margin-right: 5px;
}

.news-info-link li::after {
  content: "|";
  padding-left: 10px;
  padding-right: 10px;
}

.news-info-link li:last-child::after {
  display: none;
}

.news-info-link::after {
  content: "";
  display: block;
  clear: both;
  display: table;
}

.single-post-area .quote-wrapper {
  background: rgba(130, 139, 178, 0.1);
  padding: 15px;
  line-height: 1.733;
  color: #888888;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .single-post-area .quote-wrapper {
    padding: 30px;
  }
} 

.single-post-area .quotes {
  background: #fff;
  padding: 15px 15px 15px 20px;
  border-left: 2px solid;
}

@media (min-width: 768px) {
  .single-post-area .quotes {
    padding: 25px 25px 25px 30px;
  }
}

.single-post-area .navigation-top .comment-count {
  font-size: 14px;
}

.single-post-area .navigation-top .comment-count i,
.single-post-area .navigation-top .comment-count span {
  font-size: 16px;
  margin-right: 5px;
}
.comments-area {
  background: transparent;
  border-top: 1px solid #eee;
  padding: 45px 0;
  margin-top: 50px;
}

@media (max-width: 414px) {
  .comments-area {
    padding: 50px 8px;
  }
}

.comments-area h4 {
  margin-bottom: 35px;
  font-size: 18px;
}

.comments-area h5 {
  font-size: 16px;
  margin-bottom: 0px;
}

.comments-area .comment-list {
  padding-bottom: 48px;
}

.comments-area .comment-list:last-child {
  padding-bottom: 0px;
}

.comments-area .comment-list.left-padding {
  padding-left: 25px;
}

@media (max-width: 413px) {
  .comments-area .comment-list .single-comment h5 {
    font-size: 12px;
  }

  .comments-area .comment-list .single-comment .date {
    font-size: 11px;
  }

  .comments-area .comment-list .single-comment .comment {
    font-size: 10px;
  }
}

.comments-area .thumb {
  margin-right: 20px;
}

.comments-area .thumb img {
  width: 70px;
  border-radius: 50%;
}

.comments-area .date {
  font-size: 14px;
  color: #999999;
  margin-bottom: 0;
  margin-left: 20px;
}

.comments-area .comment {
  margin-bottom: 10px;
  color: #777777;
  font-size: 15px;
}


.comment-form {
  border-top: 1px solid #eee;
  padding-top: 45px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.comment-form .form-group {
  margin-bottom: 30px;
}

.comment-form h4 {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
}

.comment-form .name {
  padding-left: 0px;
}

@media (max-width: 767px) {
  .comment-form .name {
    padding-right: 0px;
    margin-bottom: 1rem;
  }
}

.comment-form .email {
  padding-right: 0px;
}

@media (max-width: 991px) {
  .comment-form .email {
    padding-left: 0px;
  }
}

.comment-form .form-control {
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

.comment-form .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.comment-form .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

.comment-form .form-control::placeholder {
  color: #777777;
}

.comment-form textarea {
  padding-top: 18px;
  border-radius: 12px;
  height: 100% !important;
}






/* Contact Page */
.contact-info {
  margin-bottom: 25px;
}

.contact-info__icon {
  margin-right: 20px;
}

.contact-info__icon i,
.contact-info__icon span {
  color: #8f9195;
  font-size: 27px;
}

.contact-info .media-body h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-size: 16px;
  color: #2a2a2a;
}

.contact-info .media-body h3 a:hover {
  color: #ff5e13;
}

.contact-info .media-body p {
  color: #8a8a8a;
}

.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-contact label {
  font-size: 14px;
}

.form-contact .form-group {
  margin-bottom: 30px;
}

.form-contact .form-control {
  border: 1px solid #e5e6e9;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.form-contact .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

.form-contact textarea {
  height: 100% !important;
}

.contact-section {
  padding: 130px 0 100px;
}

@media (max-width: 991px) {
  .contact-section {
    padding: 70px 0 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contact-section {
    padding: 80px 0 50px;
  }
}

.contact-section .btn_2 {
  background-color: #191d34;
  padding: 18px 60px;
  border-radius: 50px;
  margin-top: 0;
}

.contact-section .btn_2:hover {
  background-color: #ff5e13;
}


/* DOnation Form */

.donation-form {
    font-family: 'Arial', sans-serif;
    padding: 40px 20px 40px 20px;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
}

.donation-form form {
    margin: auto;
    max-width: 600px;
}

.donation-form label {
    display: block;
    margin-bottom: 8px;
}

.donation-form input,
.donation-form textarea,
.donation-form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.donation-form input:focus,
.donation-form textarea:focus,
.donation-form select:focus {
    border-color: #df1b22;
    outline: none;
}


.donation-form ::placeholder {
    font-family: inherit;
    opacity: 0.7;
}

.donation-form input[type='checkbox'] {
    margin-right: 8px;
    width: auto;
}

.donation-form fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.donation-form legend {
    padding: 0 10px;
    font-weight: bold;
    font-size: 1em;
}

.donation-form input[type='radio'] {
    margin-right: 8px;
    margin-top: 4px;
    width: auto;
    cursor: pointer;
}

.donation-form .radio-label {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

.donation-form .radio-group {
    margin-bottom: 16px;
}

.donation-form .donation-type {
    margin-bottom: 16px;
}

.donation-form .donation-type span {
    font-weight: 500;
    margin-right: 10px;
}

.donation-form input[type='number'] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.donation-form input[type='number']::-webkit-inner-spin-button,
.donation-form input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donation-form .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.donation-form .form-check-input {
    margin-top: 14px;
    margin-right: 10px;
    cursor: pointer;
}

.donation-form .form-check-label {
    margin-bottom: 0;
    cursor: pointer;
}

/* ////////// */